MongoDB/data/_mdb_catalog.wt
MongoDB/data/collection-0--326820224246247260.wt
MongoDB/data/collection-2--326820224246247260.wt
MongoDB/data/collection-4--326820224246247260.wt
MongoDB/data/collection-9--326820224246247260.wt
MongoDB/data/index-1--326820224246247260.wt
MongoDB/data/index-3--326820224246247260.wt
MongoDB/data/index-5--326820224246247260.wt
MongoDB/data/index-6--326820224246247260.wt
MongoDB/data/index-10--326820224246247260.wt
MongoDB/data/mongod.lock
MongoDB/data/sizeStorer.wt
MongoDB/data/storage.bson
MongoDB/data/WiredTiger
MongoDB/data/WiredTiger.lock
MongoDB/data/WiredTiger.turtle
MongoDB/data/WiredTiger.wt
MongoDB/data/WiredTigerHS.wt
MongoDB/data/diagnostic.data/metrics.2022-02-28T21-09-01Z-00000
MongoDB/data/diagnostic.data/metrics.2022-03-02T17-54-47Z-00000
MongoDB/data/diagnostic.data/metrics.2022-03-03T18-06-12Z-00000
MongoDB/data/diagnostic.data/metrics.2022-03-11T21-01-03Z-00000
MongoDB/data/diagnostic.data/metrics.interim
MongoDB/data/diagnostic.data/metrics.interim.pbm
MongoDB/data/diagnostic.data/metrics.interim.temp
MongoDB/data/diagnostic.data/metrics.interim(1)
MongoDB/data/diagnostic.data/metrics.interim(2)
MongoDB/data/diagnostic.data/metrics.interim(3)
MongoDB/data/diagnostic.data/metrics.interim(4)
MongoDB/data/diagnostic.data/metrics.interim(5)
MongoDB/data/diagnostic.data/metrics.interim(6)
MongoDB/data/diagnostic.data/metrics.interim(7)
MongoDB/data/diagnostic.data/metrics.interim(8)
MongoDB/data/diagnostic.data/metrics.interim(9)
MongoDB/data/diagnostic.data/metrics.interim(10)
MongoDB/data/diagnostic.data/metrics.interim(11)
MongoDB/data/diagnostic.data/metrics.interim(12)
MongoDB/data/diagnostic.data/metrics.interim(13)
MongoDB/data/diagnostic.data/metrics.interim(14)
MongoDB/data/diagnostic.data/metrics.interim(15)
MongoDB/data/diagnostic.data/metrics.interim(16)
MongoDB/data/diagnostic.data/metrics.interim(17)
MongoDB/data/diagnostic.data/metrics.interim(18)
MongoDB/data/diagnostic.data/metrics.interim(19)
MongoDB/data/journal/WiredTigerLog.0000000004
MongoDB/data/journal/WiredTigerPreplog.0000000001
MongoDB/data/journal/WiredTigerPreplog.0000000002
MongoDB/log/mongod.log
